@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Instructor;

<h1>Create new Instructor</h1>

<form asp-action="AddInstructor" asp-controller="Instructor" method="post">
    <div class="form-group">
        <label asp-for="Id">ID</label>
        <input asp-for="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName">FirstName</label>
        <input asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName">LastName</label>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IsTenured">Status</label>
        <input asp-for="IsTenured" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Rank">Rank</label>
        <select asp-for="Rank" asp-items="@Html.GetEnumSelectList(typeof(Rank))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="HiringDate">Hiring Date</label>
        <input asp-for="HiringDate" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>